In [148]:
import pandas as pd
import hvplot.pandas
from pathlib import Path
%matplotlib inline
%store -r dates_FOMC

In [149]:
dates_FOMC = dates_FOMC.sort_values()
dates_FOMC

DatetimeIndex(['2017-02-01', '2017-03-15', '2017-05-03', '2017-06-14',
               '2017-07-26', '2017-09-20', '2017-11-01', '2017-12-13',
               '2018-01-31', '2018-03-21', '2018-05-02', '2018-06-13',
               '2018-08-01', '2018-09-26', '2018-11-08', '2018-12-19',
               '2019-01-30', '2019-03-20', '2019-05-01', '2019-06-19',
               '2019-07-31', '2019-09-18', '2019-10-04', '2019-10-30',
               '2019-12-11', '2020-01-29', '2020-03-03', '2020-03-18',
               '2020-03-19', '2020-03-23', '2020-03-31', '2020-04-29',
               '2020-06-10', '2020-07-29', '2020-08-27', '2020-09-16',
               '2020-11-05', '2020-12-16', '2021-01-27', '2021-03-17',
               '2021-04-28', '2021-06-16', '2021-07-28', '2021-09-22',
               '2021-11-03', '2021-12-15', '2022-01-26', '2022-03-16',
               '2022-05-04'],
              dtype='datetime64[ns]', freq=None)

In [150]:
path = Path('VIX_History.csv')
vix_df = pd.read_csv(path, index_col = 'DATE', parse_dates = True, infer_datetime_format = True)
vix_df

             OPEN   HIGH    LOW  CLOSE
DATE
1990-01-02  17.24  17.24  17.24  17.24
1990-01-03  18.19  18.19  18.19  18.19
1990-01-04  19.22  19.22  19.22  19.22
1990-01-05  20.11  20.11  20.11  20.11
1990-01-08  20.26  20.26  20.26  20.26
...           ...    ...    ...    ...
2022-05-03  31.76  32.82  29.06  29.25
2022-05-04  29.12  29.42  24.94  25.42
2022-05-05  25.97  33.20  25.78  31.20
2022-05-06  32.23  35.34  29.83  30.19
2022-05-09  31.90  35.48  31.90  34.75

[8148 rows x 4 columns]

In [156]:
vix_dates = pd.DataFrame(vix_df.loc['2017-01-01':'2022-05-04'].iloc[:,3])
vix_dates
dates_FOMC_df = pd.DataFrame(dates_FOMC)


# for date in dates_FOMC:
#     dates_FOMC.index(

In [160]:
#vix_dates[vix_dates.loc['DATE']=='2017-02-01']
index = getIndexes(vix_dates, '2017-02-01')
index

NameError: name 'getIndexes' is not defined

In [ ]:
vix_change = []
for date in dates_FOMC:
    change = (vix_df.iloc[:,0].loc[date] - vix_df.iloc[:,3].loc[date])/vix_df.iloc[:,0].loc[date]
    vix_change.append(change)
    
vix_change

In [ ]:
vix_change_df = pd.DataFrame(vix_change, )
vix_change_df

In [ ]:
test = (vix_change_df.iloc[:,0] + 1).cumprod()
test_df = pd.DataFrame(test)
test_df.rename(columns = {0:'Cumulative return'}, inplace = True)
test_df
test_df['Date'] = dates_FOMC
test_df.set_index('Date', inplace = True)
test_df

In [ ]:
test_df.hvplot()*vix_dates.hvplot()